# Amsterdam Airbnb Data Analysis

## Introduction

#### In this notebook, we will analyse the latest Amsterdam Airbnb data using the CRISP-DM process and try to gain valuable insights. 

## Dataset

Data Source: http://insideairbnb.com/get-the-data.html

Files:

- calendar.csv - Detailed calendar data inlcuding the price, availability etc
- listings.csv - Detailed description of the listings including price, review scores, location etc
- listings_summary.csv - Summary of all the listings in Amsterdam
- neighborhoods.csv - List of the neighborhoods in Amsterdam
- neighbourhoods.geojson - GeoJSON file of neighbourhoods of Amsterdam
- reviews.csv - Detailed reviews for the listings
- reviews_summary.csv - Details about listing and the date of review

## CRISP-DM Process

Questions to answer: TO REWORD

1) Which area in Amsterdam gives the most profit?

2) How to become a Superhost in Amsterdam?

3) What are the most important charactersitics that influence price?

4) Which time of the year is the most popular in Amsterdam?

5) Can I predic the price for a new property?

#### Imports

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [271]:
calendar = pd.read_csv('../Data/calendar.csv')
listings = pd.read_csv('../Data/listings.csv')
listings_summary = pd.read_csv ('../Data/listings_summary.csv')
neighborhoods = pd.read_csv('../Data/neighbourhoods.csv')
reviews = pd.read_csv('../Data/reviews.csv')
reviews_summary = pd.read_csv('../Data/reviews_summary.csv')

In [272]:
# Checking the dataframes

calendar.head(5)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2818,2022-09-07,f,$49.00,$49.00,3.0,1125.0
1,2818,2022-09-08,f,$49.00,$49.00,3.0,1125.0
2,2818,2022-09-09,f,$49.00,$49.00,3.0,1125.0
3,2818,2022-09-10,f,$49.00,$49.00,3.0,1125.0
4,2818,2022-09-11,f,$49.00,$49.00,3.0,1125.0

In [273]:
listings.head(5)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,20220907151523,2022-09-07,city scrape,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi<br />...,"Indische Buurt (""Indies Neighborhood"") is a ne...",https://a0.muscache.com/pictures/10272854/8dcc...,3159,...,4.98,4.69,4.82,0363 5F3A 5684 6750 D14D,t,1,0,1,0,1.86
1,20168,https://www.airbnb.com/rooms/20168,20220907151523,2022-09-07,previous scrape,Studio with private bathroom in the centre 1,17th century Dutch townhouse in the heart of t...,Located just in between famous central canals....,https://a0.muscache.com/pictures/69979628/fd6a...,59484,...,4.62,4.87,4.49,0363 CBB3 2C10 0C2A 1E29,t,2,0,2,0,2.22
2,27886,https://www.airbnb.com/rooms/27886,20220907151523,2022-09-07,city scrape,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,"Central, quiet, safe, clean and beautiful.",https://a0.muscache.com/pictures/02c2da9d-660e...,97647,...,4.92,4.89,4.79,0363 974D 4986 7411 88D8,t,1,0,1,0,1.78
3,28871,https://www.airbnb.com/rooms/28871,20220907151523,2022-09-07,city scrape,Comfortable double room,<b>The space</b><br />In a monumental house ri...,"Flower market , Leidseplein , Rembrantsplein",https://a0.muscache.com/pictures/160889/362340...,124245,...,4.94,4.96,4.83,0363 607B EA74 0BD8 2F6F,f,2,0,2,0,2.92
4,29051,https://www.airbnb.com/rooms/29051,20220907151523,2022-09-07,city scrape,Comfortable single room,This room can also accomodate 2 people. For a...,the street is quite lively especially on weeke...,https://a0.muscache.com/pictures/162009/bd6be2...,124245,...,4.92,4.87,4.77,0363 607B EA74 0BD8 2F6F,f,2,0,2,0,4.16

In [274]:
neighborhoods.head(5)

   neighbourhood_group           neighbourhood
0                  NaN         Bijlmer-Centrum
1                  NaN            Bijlmer-Oost
2                  NaN           Bos en Lommer
3                  NaN  Buitenveldert - Zuidas
4                  NaN            Centrum-Oost

In [275]:
reviews.head(5)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,515749,1671407,2012-07-09,2640670,Gregory,If you want the authentic Amsterdam houseboat ...
2,515749,1715674,2012-07-15,1032804,Michael,Unique and luxurious to be sure. I couldn't re...
3,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
4,515749,1963378,2012-08-12,503786,Brian,My wife and I recently stopped in Amsterdam fo...

A few observations:

1) listing_id seems to be the common link in all the dataframes. This column can be used as an index for easier analysis. 

2) There are a mixture of datatypes - int, float, objects, strings, dates etc. Further checks needs to be done for proper datatype conversion. 

3) Neighborhoods dataframe is just a list of dataframe and does not require further analysis.

In [276]:
# Shape of the dataframes

calendar.shape

(2515211, 7)

In [277]:
listings.shape

(6893, 75)

In [278]:
neighborhoods.shape

(22, 2)

In [279]:
reviews.shape

(342904, 6)

A few observations:

1) The size of the dataframes are different. 

2) The listings dataframe seems to be the most data intense

3) There are 22 neighborhoods in Amsterdam

In [280]:
# Info about the datatypes

calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2515211 entries, 0 to 2515210
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 134.3+ MB

In [281]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6893 entries, 0 to 6892
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            6893 non-null   int64
 1   listing_url                                   6893 non-null   object
 2   scrape_id                                     6893 non-null   int64
 3   last_scraped                                  6893 non-null   object
 4   source                                        6893 non-null   object
 5   name                                          6893 non-null   object
 6   description                                   6877 non-null   object
 7   neighborhood_overview                         4628 non-null   object
 8   picture_url                                   6893 non-null   object
 9   host_id                                       6893 non-null   int64
 10  host_url                                      6893 non-null   object
 11  host_name                                     6893 non-null   object
 12  host_since                                    6893 non-null   object
 13  host_location                                 6122 non-null   object
 14  host_about                                    4132 non-null   object
 15  host_response_time                            5236 non-null   object
 16  host_response_rate                            5236 non-null   object
 17  host_acceptance_rate                          6031 non-null   object
 18  host_is_superhost                             6885 non-null   object
 19  host_thumbnail_url                            6893 non-null   object
 20  host_picture_url                              6893 non-null   object
 21  host_neighbourhood                            3096 non-null   object
 22  host_listings_count                           6893 non-null   int64
 23  host_total_listings_count                     6893 non-null   int64
 24  host_verifications                            6893 non-null   object
 25  host_has_profile_pic                          6893 non-null   object
 26  host_identity_verified                        6893 non-null   object
 27  neighbourhood                                 4628 non-null   object
 28  neighbourhood_cleansed                        6893 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      6893 non-null   float64
 31  longitude                                     6893 non-null   float64
 32  property_type                                 6893 non-null   object
 33  room_type                                     6893 non-null   object
 34  accommodates                                  6893 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                6878 non-null   object
 37  bedrooms                                      6578 non-null   float64
 38  beds                                          6792 non-null   float64
 39  amenities                                     6893 non-null   object
 40  price                                         6893 non-null   object
 41  minimum_nights                                6893 non-null   int64
 42  maximum_nights                                6893 non-null   int64
 43  minimum_minimum_nights                        6891 non-null   float64
 44  maximum_minimum_nights                        6891 non-null   float64
 45  minimum_maximum_nights                        6891 non-null   float64
 46  maximum_maximum_nights                        6891 non-null   float64
 47  minimum_nights_avg_ntm                        6891 non-null   float64
 48  maximum_nights_avg_ntm                        6891 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              6893 non-null   object
 51  availability_30                               6893 non-null   int64
 52  availability_60                               6893 non-null   int64
 53  availability_90                               6893 non-null   int64
 54  availability_365                              6893 non-null   int64
 55  calendar_last_scraped                         6893 non-null   object
 56  number_of_reviews                             6893 non-null   int64
 57  number_of_reviews_ltm                         6893 non-null   int64
 58  number_of_reviews_l30d                        6893 non-null   int64
 59  first_review                                  6247 non-null   object
 60  last_review                                   6247 non-null   object
 61  review_scores_rating                          6247 non-null   float64
 62  review_scores_accuracy                        6242 non-null   float64
 63  review_scores_cleanliness                     6242 non-null   float64
 64  review_scores_checkin                         6242 non-null   float64
 65  review_scores_communication                   6242 non-null   float64
 66  review_scores_location                        6242 non-null   float64
 67  review_scores_value                           6242 non-null   float64
 68  license                                       6449 non-null   object
 69  instant_bookable                              6893 non-null   object
 70  calculated_host_listings_count                6893 non-null   int64
 71  calculated_host_listings_count_entire_homes   6893 non-null   int64
 72  calculated_host_listings_count_private_rooms  6893 non-null   int64
 73  calculated_host_listings_count_shared_rooms   6893 non-null   int64
 74  reviews_per_month                             6247 non-null   float64
dtypes: float64(21), int64(19), object(35)
memory usage: 3.9+ MB

In [282]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342904 entries, 0 to 342903
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     342904 non-null  int64
 1   id             342904 non-null  int64
 2   date           342904 non-null  object
 3   reviewer_id    342904 non-null  int64
 4   reviewer_name  342904 non-null  object
 5   comments       342890 non-null  object
dtypes: int64(3), object(3)
memory usage: 15.7+ MB

In [283]:
# Checking object types

calendar.select_dtypes(include='object').columns

Index(['date', 'available', 'price', 'adjusted_price'], dtype='object')

In [284]:
listings.select_dtypes(include='object').columns

Index(['listing_url', 'last_scraped', 'source', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_url', 'host_name',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood', 'neighbourhood_cleansed', 'property_type', 'room_type',
       'bathrooms_text', 'amenities', 'price', 'has_availability',
       'calendar_last_scraped', 'first_review', 'last_review', 'license',
       'instant_bookable'],
      dtype='object')

In [285]:
reviews.select_dtypes(include='object').columns

Index(['date', 'reviewer_name', 'comments'], dtype='object')

In [286]:
# Checking numerical datatypes

calendar.select_dtypes(include=['int64', 'float64']).columns

Index(['listing_id', 'minimum_nights', 'maximum_nights'], dtype='object')

In [287]:
listings.select_dtypes(include=['int64', 'float64']).columns

Index(['id', 'scrape_id', 'host_id', 'host_listings_count',
       'host_total_listings_count', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'accommodates', 'bathrooms', 'bedrooms', 'beds',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [288]:
reviews.select_dtypes(include=['int64', 'float64']).columns

Index(['listing_id', 'id', 'reviewer_id'], dtype='object')

A few observations:

1) There are a lot of columns that may not be useful for us to answer the particular question posed earlier and can be removed. 

2) Convert object datatypes of specific columns to approapriate datatypes

3) The price column will have to be converted to float. 

4) The date column will have to be converted to datetime. 

5) Replace columns with 't/f' to bool.

These steps will be done in the 'Data Preparation' step of the CRISP-DM process.

## Data Preparation

#### 1) Checking missing values

In [289]:
# Find columns with missing values

def find_missing_cols(df):
    print(df.columns[df.isnull().sum()>0])

In [290]:
find_missing_cols(calendar)

Index(['price', 'adjusted_price', 'minimum_nights', 'maximum_nights'], dtype='object')

In [291]:
find_missing_cols(listings)

Index(['description', 'neighborhood_overview', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_neighbourhood', 'neighbourhood',
       'neighbourhood_group_cleansed', 'bathrooms', 'bathrooms_text',
       'bedrooms', 'beds', 'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'license',
       'reviews_per_month'],
      dtype='object')

In [292]:
find_missing_cols(reviews)

Index(['comments'], dtype='object')

In [293]:
# Find columns with percentage of missing values above a certain value

def find_missing_cols_perc(df, perc):
    print(df.columns[df.isnull().mean() > perc])

In [294]:
find_missing_cols_perc(calendar, 0.5)

Index([], dtype='object')

In [295]:
find_missing_cols_perc(listings, 0.5)

Index(['host_neighbourhood', 'neighbourhood_group_cleansed', 'bathrooms',
       'calendar_updated'],
      dtype='object')

In [296]:
find_missing_cols_perc(reviews, 0.5)

Index([], dtype='object')

In the listings dataframe, 4 columns ('host_neighbourhood', 'neighbourhood_group_cleansed', 'bathrooms', 'calendar_updated') have more than 50% missing values. Let's check the percentage of missing values in these columns.

In [297]:
cols = ['host_neighbourhood', 'neighbourhood_group_cleansed', 'bathrooms', 'calendar_updated']

for col in cols:
    print('Percentage of missing values in {}: {}'.format(col, listings[col].isnull().mean()))

Percentage of missing values in host_neighbourhood: 0.550848687073843
Percentage of missing values in neighbourhood_group_cleansed: 1.0
Percentage of missing values in bathrooms: 1.0
Percentage of missing values in calendar_updated: 1.0

As seen above, 3 columns have 100% missing values. These columns could be important for our analysis, especially neighborhood and number of bathrooms in a particular listing. Let's see if we can find any alternatives for these columns.

In [298]:
# Looking for other columns with 'neigh' in the name

[col for col in listings.columns if 'neigh' in col]

['neighborhood_overview',
 'host_neighbourhood',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed']

In [299]:
listings[['neighborhood_overview', 'host_neighbourhood', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed']].head(10)

,neighborhood_overview,host_neighbourhood,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed
0,"Indische Buurt (""Indies Neighborhood"") is a ne...",Indische Buurt,"Amsterdam, North Holland, Netherlands",Oostelijk Havengebied - Indische Buurt,NaN
1,Located just in between famous central canals....,Grachtengordel,"Amsterdam, North Holland, Netherlands",Centrum-Oost,NaN
2,"Central, quiet, safe, clean and beautiful.",Westelijke Eilanden,"Amsterdam, North Holland, Netherlands",Centrum-West,NaN
3,"Flower market , Leidseplein , Rembrantsplein",Amsterdam Centrum,"Amsterdam, North Holland, Netherlands",Centrum-West,NaN
4,the street is quite lively especially on weeke...,Amsterdam Centrum,"Amsterdam, North Holland, Netherlands",Centrum-Oost,NaN
5,The appartment is located in the city centre. ...,Oostelijke Eilanden en Kadijken,"Amsterdam, Noord-Holland, Netherlands",Centrum-Oost,NaN
6,You will find yourself in a quiet side street ...,Grachtengordel,"Amsterdam, North Holland, Netherlands",Centrum-West,NaN
7,NaN,Grachtengordel,NaN,Centrum-West,NaN
8,"The apartment is situated in a small, quiet, o...",Grachtengordel,"Amsterdam, North Holland, Netherlands",Centrum-Oost,NaN
9,"Our neighborhood is very central, but also qui...",Museumkwartier,"Amsterdam, North Holland, Netherlands",Zuid,NaN

There is a column 'host_neighbourhood' and 'neighborhood_cleansed' that gives the details about the neighbourhood of a listing. Let's check if it has 22 unique values.

In [300]:
len(listings['host_neighbourhood'].unique())

60

In [301]:
len(listings['neighbourhood_cleansed'].unique())

22

'neighbourhood_cleansed' column seems to be the right column for the details about the neighbourhood of a particular listing. Other columns can be deleted.

We will use a similar approach to find the right column with the details about the number of bathrooms in a particular listing.

In [302]:
# Looking for other columns with 'bath' in the name

[col for col in listings.columns if 'bath' in col]

['bathrooms', 'bathrooms_text']

In [303]:
listings[['bathrooms_text']].head(10)

     bathrooms_text
0  1.5 shared baths
1    1 private bath
2         1.5 baths
3     1 shared bath
4     1 shared bath
5         1.5 baths
6            1 bath
7    1 private bath
8         1.5 baths
9         1.5 baths

There is another column 'bathrooms_text' with details about the bathrooms in a listing. We can extract the number of bathrooms from this column. Let's analyse that in a bit more detail.

In [304]:
listings['bathrooms_text'].unique()

array(['1.5 shared baths', '1 private bath', '1.5 baths', '1 shared bath',
       '1 bath', '2.5 baths', '3.5 baths', nan, '0 baths',
       'Private half-bath', '2 baths', '3 baths', '0 shared baths',
       'Half-bath', 'Shared half-bath', '5 baths', '2 shared baths',
       '5.5 baths', '4 baths', '4.5 baths', '4 shared baths',
       '3 shared baths', '17 baths', '3.5 shared baths'], dtype=object)

In [305]:
listings['bathrooms_text'].dtype

dtype('O')

'bathrooms_text' has a mixture of values from which we will extract the number of bathrooms (numeric). We will ignore the type of the bathroom (shared/private/half) for this analysis.

In [315]:
listings['bathroom_num']=listings["bathrooms_text"].str.split(" ", expand=True)[0]

In [316]:
listings['bathroom_num'].unique()

array(['1.5', '1', '2.5', '3.5', nan, '0', 'Private', '2', '3',
       'Half-bath', 'Shared', '5', '5.5', '4', '4.5', '17'], dtype=object)

In [317]:
listings['bathroom_num'] = listings['bathroom_num'].replace(['Private', 'Half-bath', 'Shared'], 0.5)

In [318]:
listings['bathroom_num'] = listings['bathroom_num'].astype('float')

In [319]:
listings['bathroom_num'].isnull().sum()

15

In [320]:
def convert_price_float(df, col):
    '''
    Function to convert the price column from dollars to float
    
    INPUT:
    df - a dataframe
    col - a price column in dollars

    '''
    
    df[col] = df[col].replace('[\$,]', '', regex=True).astype(float)

In [321]:
convert_price_float(calendar, 'price')
convert_price_float(calendar, 'adjusted_price')
convert_price_float(listings, 'price')

In [322]:
calendar['price'].dtypes, calendar['adjusted_price'].dtypes, listings['price'].dtypes

(dtype('float64'), dtype('float64'), dtype('float64'))

In [323]:
def convert_to_datetime(df):
    
    for col in df.columns:
        if df[col].dtype == 'object':
            try:
                df[col] = pd.to_datetime(df[col])
            except ValueError:
                pass

In [324]:
convert_to_datetime(calendar)

In [325]:
convert_to_datetime(listings)

In [326]:
convert_to_datetime(reviews)

In [327]:
calendar.select_dtypes(include=['datetime64']).columns

Index(['date'], dtype='object')

In [328]:
listings.select_dtypes(include=['datetime64']).columns

Index(['last_scraped', 'host_since', 'calendar_last_scraped', 'first_review',
       'last_review'],
      dtype='object')

In [329]:
reviews.select_dtypes(include=['datetime64']).columns

Index(['date'], dtype='object')

In [330]:
def find_col_with_value(df, value):
    
    cols = []
    for col in df:
        if (df[col] == value).any():
             cols.append(col)
    return cols

In [331]:
find_col_with_value(calendar, 't'), find_col_with_value(calendar, 'f')

(['available'], ['available'])

In [332]:
find_col_with_value(listings, 't'), find_col_with_value(listings, 'f')

(['host_is_superhost',
  'host_has_profile_pic',
  'host_identity_verified',
  'has_availability',
  'instant_bookable'],
 ['host_is_superhost',
  'host_has_profile_pic',
  'host_identity_verified',
  'has_availability',
  'instant_bookable'])

In [342]:
def replace_bool(df, val):
    '''
    Input:
        value: Column (pandas series) of String values consisting of 'f' and 't'
    
    Replaces 'f' and 't' with 0 and 1 correspondingly
    
    Output:
        Returns a series of intege
    '''
    
    df[val] = df[val].replace('f', 0);
    df[val] = df[val].replace('t', 1);

In [343]:
bool_columns_listings = ['host_is_superhost', 'host_has_profile_pic', 'host_identity_verified', 'has_availability', 'instant_bookable']

In [344]:
for col in bool_columns_listings:
    replace_bool(listings, col)

In [350]:
replace_bool(calendar, 'available')

In [355]:
listings.isnull().sum()

id                                                0
listing_url                                       0
scrape_id                                         0
last_scraped                                      0
source                                            0
                                               ...
calculated_host_listings_count_entire_homes       0
calculated_host_listings_count_private_rooms      0
calculated_host_listings_count_shared_rooms       0
reviews_per_month                               646
bathroom_num                                     15
Length: 76, dtype: int64

In [359]:
listings.host_response_time.unique()

array(['within an hour', 'within a few hours', nan, 'within a day',
       'a few days or more'], dtype=object)

In [363]:
pd.get_dummies(listings['host_response_time'])

      a few days or more  within a day  within a few hours  within an hour
0                      0             0                   0               1
1                      0             0                   0               1
2                      0             0                   0               1
3                      0             0                   0               1
4                      0             0                   0               1
...                  ...           ...                 ...             ...
6888                   0             0                   1               0
6889                   0             0                   0               1
6890                   0             0                   0               1
6891                   1             0                   0               0
6892                   0             1                   0               0

[6893 rows x 4 columns]

In [380]:
listings.select_dtypes('object').columns

Index(['listing_url', 'source', 'name', 'description', 'neighborhood_overview',
       'picture_url', 'host_url', 'host_name', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_verifications', 'neighbourhood', 'neighbourhood_cleansed',
       'property_type', 'room_type', 'bathrooms_text', 'amenities', 'license'],
      dtype='object')

In [384]:
[col for col in listings.columns if 'rate' in col]

['host_response_rate', 'host_acceptance_rate']

In [385]:
def convert_perc_float(df, col):
    '''
    Function to convert the price column from dollars to float
    
    INPUT:
    df - a dataframe
    col - a price column in dollars

    '''
    
    df[col] = df[col].replace('[\%,]', '', regex=True).astype(float)

In [386]:
convert_perc_float(listings, 'host_response_rate')

In [388]:
convert_perc_float(listings, 'host_acceptance_rate')